@use '../base/variables' as v;

@use "../base/colorPalette" as c;
@use '../base/mixins' as m;

.desktop{
 
    &__main{
        display: none;
        @include m.desktop {
            display: flex;
            justify-content: space-between;
            align-items: center; 
    
           
            
        }

    }
   


 
    &__icon{
        width: 5rem;
    }
    &__img{
        width: 3rem;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }
}